<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @article.each do |article| %>
      <h1><%=article.title%></h1>
      <h2><%=article.content%></h2>
    <% end %>
  </body>
</html>
